* {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1 {
    font-size: 30px;
}

body {
    background-color: white;
    color: black;
}

nav {
    padding: 1% 0 1% 2%;
    background-color: #0d28c2;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
    z-index:12;
}

ul {
    padding-top: 5%;
    list-style-type: none;
    width: 10%;
    background-color: #313644;
    position: fixed;
    height: 100%;
    z-index: 11;
}

li a {
    display: block;
    font-size: 20px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;

}

li a.active {
    background-color: #262a35;
    color: white;
}

li a:hover:not(.active) {
    background-color: #2c313d;
    color: white;
}

.logo {
    width: 250px;
}

.upload {
    padding: 6% 2% 0 13%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.filterHorarioSection{
  padding: 0 0 0 20%;
}

#table{
  z-index: 10;
}

.downloadcsv{
  margin-left: 0%;
}

.tableclass {
    z-index: 10;
    margin: 1% 1% 0 12%
}

.dark-mode {
    background-color: #2a2a2a;
    color: white;
}

.theme-light {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}
.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  color: var(--font-color);
  font-family: sans-serif;
}
.container button {
  color: var(--font-color);
  background: var(--color-primary);
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* Butao dark theme */

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right:60px ;
}

.toggle-input {
  display: none;
}

.toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 34px;
  border-radius: 17px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.toggle-label:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
}

.toggle-input:checked + .toggle-label {
  background-color: #86d993;
}

.toggle-input:checked + .toggle-label:before {
  transform: translateX(26px);
}


.Documents-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 45px;
  border: none;
  padding: 0px 15px;
  border-radius: 5px;
  background-color: rgb(49, 49, 83);
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.folderContainer {
  width: 40px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.fileBack {
  z-index: 1;
  width: 80%;
  height: auto;
}
.filePage {
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease-out;
}
.fileFront {
  width: 85%;
  height: auto;
  position: absolute;
  z-index: 3;
  opacity: 0.95;
  transform-origin: bottom;
  transition: all 0.3s ease-out;
}
.text {
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.Documents-btn:hover .filePage {
  transform: translateY(-5px);
}
.Documents-btn:hover {
  background-color: rgb(58, 58, 94);
}
.Documents-btn:active {
  transform: scale(0.95);
}
.Documents-btn:hover .fileFront {
  transform: rotateX(30deg);
}


.downloadcsv{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 45px;
  border: none;
  padding: 0px 15px;
  border-radius: 5px;
  background-color: rgb(49, 49, 83);
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
}

.downloadcsv:hover{
  background-color: rgb(58, 58, 94);
}


.csv-in{
  position: relative;
  opacity: 0;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px;
  left: 50%;
  transform: translateX(50%);
}


.csv-in:hover{
  opacity: 100;
}


.show-classes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 45px;
  border: none;
  padding: 0px 15px;
  border-radius: 5px;
  background-color: rgb(49, 49, 83);
  gap: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.show-classes:hover{
  background-color: rgb(58, 58, 94);
}




